<div class="container p-5" *ngIf="visibilidadeTabela">
    <div class="border border-light p-4">
      <div>
        <button type="button" class="btn btn-sm btn-secondary" (click)="ExibirFormularioCadastro()">
          Novo Cadastro
        </button>
      </div>
  
      <hr/>
  
      <table class="table table-striped table-hover table-sm" *ngIf="cadastros">
        <thead class="thead-light">
          <tr>
            <th>Nome</th>
            <th>Data Nascimento</th>
            <th>Valor Renda</th>
            <th>Cpf</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cadastro of cadastros | paginate: { itemsPerPage: 5, currentPage: page }">
            <td>{{cadastro.nomeCompleto}}</td>
            <td>{{cadastro.dataNascimento}}</td>
            <td>{{cadastro.valorRenda}}</td>
            <td>{{cadastro.cpf}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="ExibirFormularioAtualizacao(cadastro.cadastroId)">Atualizar</button>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="ExibirConfirmacaoExclusao(cadastro.cadastroId, cadastro.nomeCompleto, conteudoModal)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div> 

<div class="container p-5" *ngIf="visibilidadeFormulario">
    <div class="row">
        <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
            <h6>{{tituloFormulario}}</h6>
            <hr/>
            <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control form-control-sm" formControlName="nomeCompleto"/>
                </div>
                <div class="form-group">
                  <label>Data Nascimento</label>
                  <input type="text" class="form-control form-control-sm"
                         formControlName="dataNascimento" placeholder="Selecione a Data" bsDatepicker
                         [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }">
                </div>
                <div class="form-group">
                    <label>Valor Renda</label>
                    <input type="text" class="form-control form-control-sm" formControlName="valorRenda"/>
                </div>
                <div class="form-group">
                    <label>Cpf</label>
                    <input type="text" class="form-control form-control-sm" formControlName="cpf"/>
                </div>
                <div class="container">
                    <div class="row">
                        <button type="submit" class="btn btn-sm btn-outline-secondary">
                            Salvar
                        </button>
                        <div class="pl-1">
                        <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">
                            Voltar
                        </button>
                        </div>        
                    </div> 
                </div>    
            </form>
        </div>  
    </div>        
</div>    

<ng-template #conteudoModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmação de exclusão</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Prosseguir com a exclusão do(a) {{nomeCadastro}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modalRef?.hide()">Não</button>
      <button type="button" class="btn btn-outline-danger" (click)="ExcluirCadastro(cadastroId)">Sim</button>
      <!-- data-dismiss="modal" -->
    </div>
  </ng-template>